<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoshardingsphere.infrastructure.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.demoshardingsphere.infrastructure.dao.entity.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_name_plain" jdbcType="VARCHAR" property="userNamePlain" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="assisted_query_pwd" jdbcType="VARCHAR" property="assistedQueryPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_name_plain, pwd, assisted_query_pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demoshardingsphere.infrastructure.dao.entity.User"
          useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
    insert into t_user (user_id, user_name, user_name_plain,
      pwd, assisted_query_pwd)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userNamePlain,jdbcType=VARCHAR},
      #{pwd,jdbcType=VARCHAR}, #{assistedQueryPwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demoshardingsphere.infrastructure.dao.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userNamePlain != null">
        user_name_plain,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="assistedQueryPwd != null">
        assisted_query_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNamePlain != null">
        #{userNamePlain,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="assistedQueryPwd != null">
        #{assistedQueryPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demoshardingsphere.infrastructure.dao.entity.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNamePlain != null">
        user_name_plain = #{userNamePlain,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="assistedQueryPwd != null">
        assisted_query_pwd = #{assistedQueryPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demoshardingsphere.infrastructure.dao.entity.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_name_plain = #{userNamePlain,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      assisted_query_pwd = #{assistedQueryPwd,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>